<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\Order">
        <plugin name="reshipment_sales_order_plugin" type="NoCompany\Reshipment\Plugin\Sales\Model\OrderPlugin"/>
    </type>

    <type name="Magento\Shipping\Controller\Adminhtml\Order\ShipmentLoader">
        <plugin name="reshipment_controller_shipment_loader_plugin"
                type="NoCompany\Reshipment\Plugin\Shipping\Controller\Adminhtml\Order\ShipmentLoaderPlugin"/>
    </type>

    <type name="Magento\Sales\Model\Order\Shipment\Validation\QuantityValidator">
        <plugin name="reshipment_shipment_validator_plugin"
                type="NoCompany\Reshipment\Plugin\Sales\Model\Order\Shipment\Validation\QuantityValidatorPlugin"/>
    </type>
</config>
